body {
    background-color: #d4edda;
    color: #586232;
}

.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card:hover:not(#receivedMessagesCard) {
    transform: none;
}

#receivedMessagesContainer {
    max-height: 200px;
    overflow-y: auto;
}

.form-group label {
    color: #586232;
}

.btn-primary {
    background-color: #b0802e;
    border-color: #b0802e;
}

.btn-primary:hover {
    background-color: #8d671f;
    border-color: #8d671f;
}
